### PATTERN ##

# file/directory    user

### users have the rights to review the pull request ###

### Based on Folder ###

Python/   @Devsouravpanda
SAP Fiori/    @jawahargit
SAP ABAP/   @chandeep2013@gmail.com
SAP BTP/    @chandeep2013@gmail.com
Java/   @jawahargit
